

body, html{
    margin:0; padding:0;
    font-size: 16px;
    font-family: 'Droid Sans', arial, sans-serif;
    background-image:url(../img/bg.jpg);
}

.width{
    width:960px;
    margin: 0px auto;
}
header{
    height:90px;
    padding:0;
    background-color:#333;
    margin-bottom:10px;
    color:#eee;
    border-bottom:3px solid #aaa;
    background:-webkit-gradient(linear, left top, left bottom,
        from(#111), to(#333));
    /*box-shadow:inset 0 -4px 4px #000;*/
}
    header h1 {
        font-size: 60px;
    }

#body{
    padding:0px;
}
    #main{
        width:600px;
        padding:10px;
        float:left;
        background-color:#fff;
        box-shadow:0 2px 6px #777;
    }
        #video{
            margin:10px 0;
        }
    #sidebar{
        margin-top:50px;
        width:320px;
        float:right;
    }

footer{
    margin:20px 0;
    color:#888;
    text-align:center;
    font-size:14px;
    clear:both;
}
    footer a{
        color:#888;
    }


.clear{
    clear:both;
}
