

body, html{
    margin:0; padding:0;
    font-size: 16px;
    font-family:'lucida sans', 'Open Sans', arial, sans-serif;
    background-image:url(../img/bg.jpg);
    color:#333;
}

h1, h2, h3, h4, h5, h6{
    font-family:'Open Sans', arial, sans-serif;
}

.width{
    width:960px;
    margin: 0px auto;
}
header{
    height:90px;
    padding:0;
    background-color:#333;
    margin-bottom:10px;
    color:#eee;
    border-bottom:3px solid #aaa;
    background:-webkit-gradient(linear, left top, left bottom,
        from(#181818), to(#383838));
    /*box-shadow:inset 0 -4px 4px #000;*/
}
    header .width{
        position:relative;
    }
    header h1 {
        font-size: 60px;
    }
    header img {
        margin-top:10px;
    }

    #tagline{
        position:absolute;
        bottom:30px;
        left:250px;
        font-size:18px;
    }


#body{
    padding:0px;
}

/** homepage **/

    #hmDescription{
        font-size:24px;
        margin:15px 0;
    }

    #hmStartups{
        margin:10px 0;
        text-align:center;
    }
        #hmStartups a{
            text-decoration:none;
            margin-bottom:10px;
            display:block;
            float:left;
            padding:5px 5px 2px;
            background-color:#fff;
            box-shadow:0 2px 6px #777;
        }
        #hmStartups a.odd{
            margin-right:10px;
        }

    #hmQueue{
        clear:left;
        margin:10px 0;
    }
        #hmQueue a{
            color:#333;
        }


/** project **/
    #main{
        width:580px;
        padding:10px;
        float:left;
        background-color:#fff;
        box-shadow:0 2px 6px #777;
    }
        #main hr {
            border: 0;
            border-top: 1px dotted #DDD;
        }

        #pimp{}
            #info{
                width: 250px;
                height:75px;
                float:right;
            }
            #oneliner{
                margin:10px 0 0;
                width:100%;
            }
        #video{
            margin:0 0 10px;
        }
        h2{
            font-size:30px;
            margin-bottom:20px;
        }
        h3{
            font-size: 22px;
            margin:20px 0 10px;
        }
        #social{
            width:300px;
            float:right;
        }
            #twitter, #facebook{
                float:right;
            }
            #twitter{}
            #facebook{}
        #main p{
            line-height:1.4;
            margin-bottom:10px;
        }
        #slideshow {
            height: 350px;
            padding-bottom: 5px;
            width: 580px;
        }
    #sidebar{
        position:relative;
        margin-top:0px;
        padding:10px;
        width:320px;
        float:right;
        text-shadow: 0pt -2pt 2px #fff;
    }

        #donate{
            margin-bottom:15px;
        }
            #donate input, #submit{
                height:50px;
                border-radius: 5px;
                border:1px solid #999;
                text-shadow: none;
                /*color:#eee;*/
            }
            #amount[disabled]{
                color:#888;
            }
            #amount{
                width:80px;
                padding:0px 5px;
                background:-webkit-gradient(linear, left top, left bottom,
                    from(#d9d9d9), to(#f8f8f8));
                border:1px solid #999;

                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -ms-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }
            #amount.pinged {
                color: green;
                border: 1px solid green;
            }
            #submit{
                display:block;
                float:right;
                width:210px;
                height:25px;
                margin-top:0px;
                padding:14px 5px 11px;
                text-align:center;
                vertical-align:middle;
                text-decoration:none;
                color:#333;
                background:-webkit-gradient(linear, left top, left bottom,
                    from(#81cdf2), to(#75badb));
            }
                #submit img{
                    margin-bottom:-5px;
                }

        #progress{
            margin-bottom:20px;
            position:relative;
            height:50px;
            width:100%;
            background-color:#fff;
            border-radius: 5px;
            border:1px solid #999;
            text-shadow: none;
            background:-webkit-gradient(linear, left top, left bottom,
                from(#d9d9d9), to(#f8f8f8));
        }
            #progress_made{
                position:absolute;
                top:0;left:0;
                height:100%;width:40%;
                background-color:#393;
                border-right:1px solid #999;
                border-radius: 5px 0 0 5px;
                background:-webkit-gradient(linear, left top, left bottom,
                    from(#9be04c), to(#87c442));
            }
            #progress_raised, #progress_goal{
                font-size:15px;
                margin-top:13px;
                padding:3px;
            }
            #progress_raised{
                position:absolute;
                top:0;left:5px;
            }
            #progress_goal{
                position:absolute;
                top:0;right:5px;
            }

        #sidebar .prize{
            margin-bottom:20px;
            margin-left: -10px;
            cursor: pointer;
            padding: 0 10px 5px 10px;
        }
        #sidebar .prize.active {
            color: #003471;
            -webkit-transition: color 0.2s ease-in;
            -moz-transition: color 0.2s ease-in;
            -ms-transition: color 0.2s ease-in;
            -o-transition: color 0.2s ease-in;
            transition: color 0.2s ease-in;
        }
        #sidebar .prize.active.current {
            color: #006838;
        }
        #sidebar .prize:hover {
            background: rgba(150, 150, 150, 0.2);

        }
            #sidebar .prize h4{
                font-size:42px;
            }

footer{
    margin:20px 0;
    color:#888;
    text-align:center;
    font-size:14px;
    clear:both;
}
    footer a{
        color:#888;
    }


.clear{
    clear:both;
}

#donate-box {
    width: 100%;
    height: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;

    background-color: black;
    background:-webkit-gradient(linear, left top, left bottom,
        color-stop(0%, rgba(0, 0, 0, 0.7)),
        color-stop(50%, rgb(0,0,0)),
        color-stop(100%, rgba(0, 0, 0, 0.7)));
}

#donate-box > :first-child {
    position:absolute;
    height:60px;
    width:500px;
    top:50%;left:50%;
    margin: -30px 0 0 -250px;
}
#donate-box input{
    margin:10px;
}
