body, html{
    margin:0; padding:0;
    font-size: 16px;
    font-family: 'Droid Sans', arial, sans-serif;
}

header, #body, footer{
    width:960px;
    margin: 10px auto;
}
header{
}
    header h1 {
        font-family:"Droid Serif", serif;
        font-size: 60px;
    }

#body{

}
    #main{
        width:630px;
        float:left;
    }
    #sidebar{
        margin-top:0px;
        width:320px;
        float:right;
    }

footer{
    color:#888;
    text-align:center;
    font-size:14px;
    clear:both;
}
    footer a{
        color:#888;
    }

