{% extends 'base.html' %}

{% load markup %}

{% block main %}

    <h2>What is StartupFuel?</h2>
    <p>StartupFuel is a fundraising platform for Canadian entrepreneurs.
    We help startups raise money for their ideas and promote their brands.</p>

    <h3>How Does it Work?</h3>
    <p>We curate our list of startups, working with them to come up
    with a cool list of rewards for donating.  We then manage those
    donations, passing them on directy to the startup (less the ~2-3%
    Paypal cut).</p>

    <p>StartupFuel was developed entirely from concept to working
    product at Startup Weekend 2011 by <strong>6 dudes</strong>:</p>
    <p>
      <a href="http://twitter.com/mattskilly">@mattskilly</a>
      <a href="http://twitter.com/defrex">@defrex</a>
      <a href="http://twitter.com/trevguy">@trevguy</a><br>
      <a href="http://twitter.com/maxmeilleur">@maxmeilleur</a>
      <a href="http://twitter.com/jwpeddle">@jwpeddle</a>
      <a href="http://twitter.com/lylepstein">@lylepstein</a>
    </p>

    <p>Hosting and related services are provided by
    <a href="http://hipsell.com">Hipsell</a> free of charge as
    a service to the Canadian startup community.</p>

    <h3>How Do I Get My Startup on StartupFuel?</h3>
    <p>Find more details on our <a href="{% url pitch %}">Pitch Us!</a> page.<p>

    <h3>How Can I Get Involved?</h3>
    <p>If you're a Python/Django developer and you'd like to work on
    StartupFuel, please message us
    <a href="http://twitter.com/startupfuelca">@startupfuelca</a> or
    DM us on Twitter.

    <hr>
{% endblock %}

{% block sidebar %}

    <!-- le twit -->
    <div style="text-shadow: none; margin-top: -10px;">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 10,
          interval: 6000,
          width: 'auto',
          height: 500,
          theme: {
            shell: {
              background: '#444444',
              color: '#ffffff'
            },
            tweets: {
              background: '#ffffff',
              color: '#444444',
              links: '#ff5f57'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: false,
            behavior: 'all'
          }
        }).render().setUser('startupfuelca').start();
        </script>

    </div>

{% endblock %}
