<!DOCTYPE html>
<html>
    <head>
        <title>Startup Dough</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:light,regular,bold' rel='stylesheet' type='text/css'>
        <link href='{{STATIC_URL}}css/boilerplate.css'
                rel='stylesheet' type='text/css'>
        <link href='{{STATIC_URL}}css/style.css'
                rel='stylesheet' type='text/css'>

        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/modernizr.js"></script>
        <script src="{{ STATIC_URL }}js/the.js"></script>
    </head>
    <body>
        <header><div class="width">
            <h1>Startup Dough</h1>
        </div></header>
        <section id="body"><div class="width">

            <section id="main">
                {% if startup.video %}
                <iframe id="video" width="580" height="349" src="http://www.youtube.com/embed/{{ startup.video }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}

                <h2>{{ startup.name }}</h2>

                {{ startup.description|linebreaks }}
            </section>

            <section id="sidebar">
                <div id="progress">
                    <div id="progress_made"></div>
                    <div id="progress_raised">Raised: $40</div>
                    <div id="progress_goal">Goal: $100</div>
                </div>

                <div id="social">
                    <div id="twitter">
                        <a href="http://twitter.com/share" class="twitter-share-button" data-text="{{ startup.twitter }} is getting started on Startup Dough. Let's make this happen!" data-count="horizontal" data-via="startupdough">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                    </div>
                    <div id="facebook">
                        <iframe src="http://www.facebook.com/plugins/like.php?app_id=171186796274800&amp;href&amp;send=false&amp;layout=button_count&amp;width=150&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>
                    </div>
                    <div class="clear"></div>
                </div>

                {% for tier in startup.tier_set.all %}
                <div class="prize">
                    <h4>${{ tier.amount }}</h4>
                    {{ tier.incentive }}
                </div>
                {% endfor %}
            </section>

            <div class="clear"></div>
        </div></section>
        <footer><div class="width">
            <a href="#">link</a> |
            <a href="#">link</a> |
            <a href="#">link</a> |
            <a href="#">link</a>
        </div></footer>
    </body>
</html>

