<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
        <title>Startup Fuel - Crowd Funding for Canadian Startups</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link rel="image_src" href="{{ STATIC_URL }}img/thumb.png" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:light,regular,bold' rel='stylesheet' type='text/css'>
        <link href='{{STATIC_URL}}css/boilerplate.css'
                rel='stylesheet' type='text/css'>
        <link href='{{STATIC_URL}}css/style.css'
                rel='stylesheet' type='text/css'>

        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/modernizr.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.placeholder.js"></script>
        <script src="{{ STATIC_URL }}js/the.js"></script>
    </head>
    <body>
        <header><div class="width">
            <!-- <h1>Startup Fuel</h1> -->
            <a href="/" id="logo" title="${{total_raised}} of Startup Weekend Toronto goal of $500">
                <img src="{{STATIC_URL}}img/logo.png" />
                <div id="white-tank">
                    <div id="white-tank-inner"
                            style="height:{{total_don}}%;">
                        <img src="{{STATIC_URL}}img/startupfuel-white-tank.png"
                            class="tank" />
                    </div>
                </div>
            </a>
            <div id="tagline">
                Crowd Funding for Canadian Startups
            </div>
        </div></header>
        <section id="body"><div class="width">
            {% block content %}
                <section id="main">
                    {% block main %}
                    {% endblock %}
                </section>

                <section id="sidebar">
                    {% block sidebar %}
                    {% endblock %}
                </section>
            {% endblock %}

            <div class="clear"></div>
        </div></section>
        <footer><div class="width">
            <!--a href="#">link</a> |
            <a href="#">link</a> |
            <a href="#">link</a> |
            <a href="#">link</a-->
        </div></footer>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23782116-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

<script type="text/javascript">
var _sf_async_config={uid:24921,domain:"startupfuel.ca"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>
    </body>
</html>

