<!DOCTYPE html>
<html>
    <head>
        <title>Fund Founders</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif'
                rel='stylesheet' type='text/css'>
        <link href='{{STATIC_URL}}style.css'
                rel='stylesheet' type='text/css'>
        <script src="http://ajax.cdnjs.com/ajax/libs/modernizr/1.7/modernizr-1.7.min.js"></script>
        <script src="{{STATIC_URL}}js/modernizr.js"></script>
    </head>
    <body>
        <header>
            <h1>Fund Founders</h1>
        </header>
        <section id="body">

            <section id="main">
                <h2>Some Video</h2>
                <iframe width="560" height="349" src="http://www.youtube.com/embed/D7r5N9NLENo" frameborder="0" allowfullscreen></iframe>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut nibh in eros dictum dignissim quis cursus mauris. Sed ut mi eu neque euismod ornare eu nec felis. Suspendisse in mi vel justo porta condimentum. Aenean laoreet lectus odio, nec laoreet nulla. Pellentesque eget laoreet lectus. Vestibulum dictum blandit massa, vel euismod dui vehicula elementum. Maecenas consectetur facilisis scelerisque. Aliquam erat volutpat. Morbi vitae est nisi, eu placerat turpis. Phasellus fermentum feugiat elit, vel mollis turpis varius in. Proin eu ipsum eleifend purus viverra ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id mauris sed neque hendrerit consequat eget et erat. Morbi ut quam sed nisl molestie dapibus et sed massa.</p>

<p>Nulla elementum ornare justo et porttitor. Proin nibh libero, rhoncus vitae pellentesque a, pretium mollis erat. Donec luctus mattis arcu adipiscing tristique. Suspendisse pellentesque neque sit amet risus vulputate facilisis. Vestibulum lobortis mollis posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas quis est quis lorem vestibulum rutrum. Quisque pretium massa non sapien viverra a hendrerit ligula luctus. Nulla mi velit, adipiscing nec luctus vel, ullamcorper quis justo. Curabitur porta orci arcu, ac consectetur ante. Phasellus id sem sed est tristique pretium eget at dui. Nullam et ante enim, nec luctus elit. Suspendisse potenti. Pellentesque non lectus consequat felis semper rhoncus. Pellentesque sit amet quam at metus consectetur ultricies a sed tortor. Sed et diam sit amet quam laoreet interdum at eleifend dolor. Nulla vestibulum mattis rutrum.</p>

<p>Ut vehicula augue vel mauris fringilla pretium viverra lorem pellentesque. Duis in porta tellus. Quisque felis erat, euismod quis mattis vel, dapibus elementum odio. Nunc varius mattis sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec adipiscing pharetra hendrerit. Ut justo est, venenatis at hendrerit a, pretium eu nunc. Aliquam eget elementum elit. Duis vel augue et est sollicitudin facilisis. Donec nisi nisl, tincidunt ac ultrices eu, vestibulum id augue. Morbi at consequat libero. Sed tempus condimentum ante in ultricies. Phasellus orci tortor, interdum eu gravida id, sodales ut sem. Fusce adipiscing tempor faucibus.</p>
            </section>

            <section id="sidebar">
                <p>Ut vehicula augue vel mauris fringilla pretium viverra lorem pellentesque. Duis in porta tellus. Quisque felis erat, euismod quis mattis vel, dapibus elementum odio. Nunc varius mattis sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec adipiscing pharetra hendrerit. Ut justo est, venenatis at hendrerit a, pretium eu nunc. Aliquam eget elementum elit. Duis vel augue et est sollicitudin facilisis. Donec nisi nisl, tincidunt ac ultrices eu, vestibulum id augue. Morbi at consequat libero. Sed tempus condimentum ante in ultricies. Phasellus orci tortor, interdum eu gravida id, sodales ut sem. Fusce adipiscing tempor faucibus.</p>
            </section>

        </section>
        <footer>
            <a href="#">link</a> |
            <a href="#">link</a> |
            <a href="#">link</a> |
            <a href="#">link</a>
        </footer>
    </body>
</html>

