{% extends 'base.html' %}

{% block content %}
    <div id="hmDescription">
        StartupFuel is a fundraising platform for Canadian entrepreneurs. We help startups raise money and promote their products or services.
    </div>
    <div id="hmStartups">
        {% for startup in startups %}
        <a href="{% url project slug=startup.slug %}"
                class="startupBanner {% cycle 'odd' 'event' %}">
            <img src="{{STATIC_URL}}{{startup.banner}}" alt="{{ startup }}" />
        </a>
        {% endfor %}
        <div class="startupBanner even youhere">
            <div id="youhere">
                <div>
                    <span>Your startup here</span><br>
                    Pitch us <a href="http://twitter.com/startupfuelca/">@startupfuelca</a> on twitter.
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="hmQueue">
        In the queue:
        <a href="#">Vizualize.me</a>
        <a href="#">YouDealCo</a>
        <a href="#">SMS My RSS</a>
        <a href="http://Herd.fm">Herd.fm</a>
    </div>
    <div id="hmPartners">
        <div id="hmParTitle">Ecosystem Partners:</div>
        <a href="http://leancoffeeto.com" id="leancoffeeto">
            <img src="{{STATIC_URL}}img/partners/leancoffeeto.jpg">
        </a>
        <a href="http://49pixels.ca/" id="49px">
            <img src="{{STATIC_URL}}img/partners/49px.jpg">
        </a>
        <a href="http://www.coralcea.ca/" id="coralcea">
            <img src="{{STATIC_URL}}img/partners/coralcea.png">
        </a>
        <a href="http://www.startupweekend.org/" id="sw">
            <img src="{{STATIC_URL}}img/partners/sw.png">
        </a>
        <div class="clear"></div>
    </div>
{% endblock %}
