{% extends 'base.html' %}

{% block content %}
    <div id="hmDescription">
        Startup fuels does some shit blah blah blah.
        Startup fuels does some shit blah blah blah.
    </div>
    <div id="hmStartups">
        {% for startup in startups %}
        <a href="{% url project slug=startup.slug %}" class="startupBanner">
            <img src="{{STATIC_URL}}{{startup.logo}}" alt="{{ startup }}" />
        </a>
        {% endfor %}
    </div>
    <div id="hmQueue">
        In the queue:
        <a href="#">One</a>
        <a href="#">One</a>
        <a href="#">One</a>
        <a href="#">One</a>
    </div>
    <div id="hmPartners">

    </div>
{% endblock %}
