{% extends 'base.html' %}

{% load markup %}

{% block main %}

    <div id="pimp">
        <img src="{{STATIC_URL}}{{startup.logo}}">
        <!-- <div id="info">

        </div> -->
        <div id="oneliner">
            {{startup.short_description}} <br>
            <a href="http://twitter.com/{{ startup.twitter }}">@{{ startup.twitter }}</a>
            <a href="http://{{ startup.website }}">{{ startup.website }}</a>
        </div>
    </div>

    {% if startup.video %}
    <iframe id="video" width="580" height="349" src="http://www.youtube.com/embed/{{ startup.video }}?wmode=Opaque" frameborder="0" allowfullscreen></iframe>
    {% endif %}

    <div id="social">
        <div id="facebook"></div>
        <div id="twitter"></div>
        <div class="clear"></div>
    </div>



    {{ startup.description|markdown }}
{% endblock %}

{% block sidebar %}

    <div id="donate">
        <form>
            <input type="hidden" id="startup-name" value="{{ startup.name }}">
            <input type="hidden" id="ppid" value="{{ startup.paypal_email }}">
            <input type="text" id="amount" placeholder="$" />
            <input type="submit" id="submit" value="Fill 'er Up" />
        </form>
    </div>

    <div id="progress">
        <div id="progress_made" style="width: {{ startup.amount_raised_percent }}%"></div>
        <div id="progress_raised">Raised: ${{ startup.amount_raised|floatformat:'-2' }}</div>
        <div id="progress_goal">Goal: ${{ startup.goal }}</div>
    </div>

    {% for tier in startup.tier_set.all %}
    <div class="prize" data-amount="{{ tier.amount }}">
        <h4>${{ tier.amount }}{% if forloop.last %} or more{% endif %}</h4>
        {{ tier.incentive }}
    </div>
    {% endfor %}
{% endblock %}
